.how-title {
  font-size: clamp(2rem, 4.5vw, 5rem);
  margin-top: 5rem;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .how-title {
    margin-top: 1rem !important;
  }
}
