.int-title {
  font-size: clamp(1.8rem, 4.2vw, 4.4rem);
  margin-top: 5rem;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.2;
  transform: translateX(-5vw);
}

@media (max-width: 767px) {
  .int-title {
    transform: none !important;
    margin-top: 1rem !important;
  }
}

