.research-page-title {
  font-size: 5.6rem;
  margin-top: 5rem;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.research-grid {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  gap: 2.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.research-grid > *:only-child {
  grid-column: 2;
}

@media (max-width: 767px) {
  .research-grid {
    grid-template-columns: repeat(2, 240px) !important;
    gap: 1.5rem !important;
  }
}
