.research-page-title {
  font-size: 5.6rem;
  margin-top: 5rem;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.research-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
  width: 100%;
}

@media (max-width: 767px) {
  .research-grid {
    flex-direction: column !important;
    align-items: center !important;
    gap: 1.5rem !important;
  }
}
